.menu {
    font-family:"Papyrus", fantasy;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    background-color: aqua;
    padding:20px;
    border:tomato;
    border-style:ridge;
    border-bottom-width:30px;
    border-top-width:30px;
    border-right-width:30px;
    border-left-width:30px;
}

.start {
    color:lightgoldenrodyellow;
    text-align: center;
    font-size:20px;
    font-family:"Lucida Handwriting", Cursive;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    background-color:lawngreen;
    padding:10px;
    border:darkolivegreen;
    border-style:dotted;
    border-bottom-width:15px;
    border-top-width:15px;
    border-right-width:15px;
    border-left-width:15px;
}

.start-1 {
    color:lightgoldenrodyellow;
    text-align: center;
    font-size:20px;
    font-family:"Lucida Handwriting", Cursive;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    background-color:springgreen;
    padding:10px;
    border:greenyellow;
    border-style:dotted;
    border-bottom-width:15px;
    border-top-width:15px;
    border-right-width:15px;
    border-left-width:15px;
}

.start-2 {
    color:lightskyblue;
    text-align: center;
    font-size:25px;
    font-family: 'Papyrus', fantasy;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    background-color:snow;
    padding:10px;
    border:mediumturquoise;
    border-style:double;
    border-bottom-width:15px;
    border-top-width:15px;
    border-right-width:15px;
    border-left-width:15px;
}

.body {
    color:lightseagreen;
    text-align: center;
    font-size:20px;
    font-family:"Harrington", fantasy;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    background-color: transparent;
}

